html{
    height: 100%;
    width: 100%;
    background-image: url('Assets/Images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
